//baseWidth
$base-width: 1000px;

@font-face {
    font-family: myFirstFont;
    src: url(./assets/font/);
}

@mixin magrin() {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@mixin font34() {
    color: #0080cc;
    font-size: 3.4rem;
}

@mixin font16() {
    font-size: 1.6rem;
}
@mixin f-w16() {
    font-size: 1.6rem;
    font-weight: 300;
}

$mainFonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-1: "小塚ゴシック Pr6N" , YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-2: "Roboto", sans-serif;
$font-3: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-4: "小塚明朝 Pr6N" ,  YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-5: "Oswald", sans-serif;
//color common
