
.c-header {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: #fff;

}

.c-nav {
    &__entext {
        background-color: #fff;
        width: 96.7%;
        margin: 0 auto 10px;
        display: flex;
        margin-top: 17px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 16%;
    }
    // &____direc{
    //     display: flex;
    // }
    &__link {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-menu {
            margin-right: -20px;
            display: flex;
            @include font16;
            color: #0080cc;
            font-weight: 400;

            li {
                margin: 0 18px;

                a {
                    display: block;
                }

                .u-pd {
                    padding-right: 7px;
                }
            }
        }
    }

    &__btn {
        width: 16%;
        height: 50px;
        font-size: 1.8rem;
        font-weight: 500;
        background-color: #0080cc;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        letter-spacing: 0.8px;

        img {
            transform: translate(-11px, 4px);
        }
    } 
}
/* Main menu
------------------------------------------------------------*/

