<footer class="c-footer">
    <div class="c-nav__container">
     <div class="c-nav__entext">
        <div class="c-nav__logo">
            <figure>
                <a href="./">
                <img src="./assets/img/image_header/image_intex.svg" alt="Image entex">
                </a>
            </figure>
        </div>
        <nav class="c-nav__link">
            <ul class="c-nav__link-menu">
                <li><a href="#about" class="u-pd">私たちについて</a></li>
                <li><a href="#works" class="u-pd">私たちの仕事 </a></li>
                <li><a href="#career">キャリアプラン</a></li>
                <li><a href="#intaview">社員インタビュー</a></li>
                <li><a href="#company">会社情報  </a></li>
            </ul>
        </nav>
        <span class="c-nav__btn">
            <a href="#recruit" class="u-button"><img src="./assets/img/image_header/icon_button.svg" alt="Image icon button intex">募集要項</a>
        </span>
     </div>
     <div class="c-nav__corporate">
        <p class="c-nav__text-link">
            >株式会社ENTEXコーポレートサイト
        </p>
     </div>
     <div class="c-nav__copy">
        ©<span class="u-nav-ml">株式会社ENTEX. All <span class="u-nav-ml1">rights reserved.</span></span>
     </div>
    </div>
</footer>