<header class="c-header" id="home">
    <div class="c-nav__entext">
      <div class="c-nav__logo">
          <figure>
              <a href="./">
              <img src="./assets/img/image_header/image_intex.svg" alt="Image entex">
              </a>
          </figure>
      </div>
      <!-- <div class="c-nav__direc"> -->
        <nav class="c-nav__link">
          <ul class="c-nav__link-menu">
              <li><a href="#about" class="u-pd">私たちについて</a></li>
              <li><a href="#works" class="u-pd">私たちの仕事 </a></li>
              <li><a href="#career">キャリアプラン</a></li>
              <li><a href="#intaview">社員インタビュー</a></li>
              <li><a href="#company">会社情報  </a></li>
          </ul>
        </nav>
        <span class="c-nav__btn">
            <a href="#recruit" class="u-button"><img src="./assets/img/image_header/icon_button.svg" alt="Image icon button intex">募集要項</a>
        </span>
      <!-- </div> -->
   </div>
</header>

